	:root{
		--color1:  #009fdd;
		--color2:  #1b2546;
		--color3:  #1b427c;
		--color4:  #bbc207;
		--color5:  #894d17;
	}

	*{
		margin:  0;
		pádding: 0;
		box-sizing:  border-box;
	}
	body{
		font-family: 'Josefin Sans', sans-serif;		
		font-size: 17px;
	}
	.body{
		font-family: 'Josefin Sans', sans-serif;
		background-image: url('images/fondo1.png');
		background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		font-size: 17px;
	}
	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
		font-family: 'Josefin Sans', sans-serif;
	}
		.error{
			color: crimson;
		}
		.formWoof{
			background-color: rgba(27, 37, 70, .7);
			height: auto;
			display: block;
			margin:  0 auto;
			padding: 10px;
			color:  white;
			border-radius:  10px;
			margin-bottom: 50px;
			
		}
		label{
			color: white;
		}
		.logo1{
			width: 275px;
			height: auto;
			display: block;
			margin: 0 auto;
		}
		.redesSociales{
			background-color: rgba(23, 23, 23, 0.5);
			height: auto;
			text-align: center;
			width: auto;
		}
		ul li{
			list-style: none;
			margin: 15px 0;
		}
		.indexIcon{
			margin-top:  40vh;
		}
		.ancla{
			color:  white;
		}
		.iconRedes{
			font-size: 1.7em;
			border-bottom:  1px solid white;
			padding-bottom: 5px;
			
		}
		
		.mainContainer{
			max-width: 100vh;
		}
		.redesSociales2{
			display: none;
		}
		.grid-x > .large-1{
			width: 5%;
		}
		.lista2 .item2{
			list-style: none;
		}
		.iconRedes2{
			font-size: 1.7em;
		}
		.ocultar{
			display: none;
		}



/*INICIO*/
.fondo1{

}
.imgInicio{
	display: block;
	margin:  0 auto;
	margin-top: 50px;
	cursor: pointer;
	transition: all;
	transition-duration: 1s;
	border-radius: 20%;
	padding: 20px;
	background-color: var(--color2);
}

.imgInicio:hover{
	padding:  10px;
}

.iconRedes1{
	margin:  10px;
	font-size: 1.7em;
	color: var(--color2);
}













		/*BREAKPOINTS*/

		@media (max-width: 575.98px) {
			body{
				background-image: url('fondoMovil.png');
				background-attachment: fixed;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
			.formWoof{
				width: 95%;
			}
			.redesSociales{
				display:  none;
			}
			.flexData{
				display: flex;
				justify-content: space-between;
			}
			.ocultar{
				display: block;
			}


		}




		@media (max-width: 780.98px) {
			.formWoof{
				width: 80%;
			}
			.redesSociales{
				display:  block;
			}
			.flexData{
				display: flex;
				justify-content: space-between;
			}
			.ocultar{
				display: block;
			}
		}



		@media (max-width: 999.98px) {
			.formWoof{
				width: 90%;
			}
			.redesSociales{
				display:  none;
			}
			.redesSociales2{
				/*background-color: rgba(23, 23, 23, 0.5);*/
				height: auto;
				text-align: right;
				width: auto;
				display: block;
				
			}
			.lista2 .item2{
				display: flex;
				display:  inline-block;
				margin:  0 5px;
				margin-top: 7px;
			}
			.iconRedes{
				border-bottom:  0px solid white;
				
			}
			.flexData{
				display: flex;
				justify-content: space-between;
			}
			.ocultar{
				display: block;
			}

		}